footer.footer-2(role='contentinfo')
  .footer-logo
    img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png', alt='Logo image')
  ul
    li
      a(href='javascript:void(0)') About
    li
      a(href='https://github.com/lokenx/plex-requests' target="_blank") GitHub
    li
      a(href='javascript:void(0)') Contact
    li
      a(href='https://www.paypal.me/plexrequests' target="_blank") Donate
  .footer-secondary-links
    ul
      li
        a(href='javascript:void(0)') License
    ul.footer-social
      li
        a(href='javascript:void(0)')
          img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png', alt='Facebook')
      li
        a(href='javascript:void(0)')
          img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png', alt='Twitter')
      li
        a(href='javascript:void(0)')
          img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png', alt='YouTube')
