main
  h1 Plex Requests
  blockquote Simple automated way for users to request new content for Plex
  hr
  
  .features-list
    .features-icons
      i.material-icons search
    .features-text
      p Users can easily search the TheMovieDB and TheTVDB for content to request
  
  .features-list
    .features-icons
      i.material-icons movie
    .features-text
      p Handy list of requested movies and TV series and basic issue reporting 
  
  .features-list
    .features-icons
      i.material-icons security
    .features-text
      p Simple user authentication with new approval system
  
  .features-list
    .features-icons
      i.material-icons file_download
    .features-text
      p CouchPotato integration for automatic downloads of movies
  
  .features-list
    .features-icons
      i.material-icons cloud_download
    .features-text
      p SickRage and Sonarr integration for automatic TV Series downloads 
  
  .features-list
    .features-icons
      i.material-icons notifications
    .features-text
      p Pushbullet or Pushover notifications to keep up to date with requests
  
  .content-block
    hr
  
    h2 Ready to get started?
    
    pre
      code.bash
        $ git clone https://github.com/lokenx/plex-requests.git
        $ npm install
        $ npm start
    
    h2 Need more help?
    p.
      For more detailed instructions head over to the #[a(href="/installation") Installation] page and #[a(href="/installation/#configuration") Configuration] details are available as well.
    
    h2 Want to help out?
    p.
      Head over to #[a(href="https://github.com/lokenx/plex-requests") GitHub] and create a pull request! Alternatively donations are always welcome through #[a(href="https://www.paypal.me/plexrequests") PayPal].
